/*=============posts on home page==========*/
.post-item-header .my-post-item {
	width: 350px; height: 200px; margin: 20px 0px 20px 0px;
}

.post-item-header .my-post-item img {
	max-width: 100%; max-height: 100%;
}